*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 100vh;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.bola-de-ferro{
    position: absolute;
    bottom: 0;
    width: 145px;
    animation: bola-animation 1.5s infinite linear;
}

.sonic{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump-sonic 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

@keyframes clouds-animation{
    from {
        right: -550px;
    }
    to{
        right: 100%;
    }
}

@keyframes bola-animation{
    from{
        right: -100px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump-sonic{
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}