*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.bola-de-ferro{
    position: absolute;
    bottom: 0;
    width: 145px;
    animation: bola-animation 1.5s infinite linear;
}

.sonic{
    width: 140px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump-sonic 550ms ease-out;
}

@keyframes bola-animation{
    from{
        right: -100px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump-sonic{
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}